--include(examples/guessthenumber/checkguess.vm)

You have three guesses to guess the number. Only your final guess will count. Try to win!
out

4
int
val
set

; You can use the `jmp` instruction to create loops

Enter a guess
out

inp
int
guess
set

checkguess
0
eq
44
7
if
int
jmp

; IMPORTANT NOTE: procedures are implemented as macros, so the line numbers will differ. You MUST take this into account, or else you could end up in an infinite loop.
; The above part jump to line 26 if the guess is correct and to 13 otherwise, implementing a while loop

Thank you for playing this short game!
out
